@using BTL_ClothesStore.Models
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Account>

@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Quản lý tài khoản </h1>

<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên người dùng
            </th>
            <th>
                Tên tài khoản
            </th>
            <th>
                Email
            </th>

            <th>
                Địa chỉ
            </th>
            <th>
                Số điện thoại
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
        @foreach (var item in Model)
        {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
            <tr class="@cls">
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserPhone)
                </td>
                <td>
                    <a asp-action="XoaNguoiDung" asp-route-maNguoidung="@item.AccountId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
